.product-card {
  background-color: #ffffff !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1) !important;
  transition: box-shadow 0.3s ease !important;
  margin: 0.625rem auto 0.625rem auto;
}

.product-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(53, 53, 53, 0.927) !important;
}

.product-card-content {
  padding: 1rem !important;
}

.product-name {
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.product-description {
  font-size: 1rem !important;
  color: #555555 !important;

  height: 3rem;
  line-height: 1.5rem;
}

.product-card-button {
  background-color: #4caf50 !important;
  color: white !important;
  border: none !important;
  border-radius: 0.3125rem !important;
  padding: 0.625rem 1.25rem !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2) !important;
}

.product-card-button:hover {
  background-color: #ffffff !important;
  color: #388e3c !important;
  border: solid 1px #388e3c !important;
}

.product-more-button {
  color: #4caf50 !important;
  font-weight: bold !important;
}

.product-more-button:hover {
  text-decoration: underline !important;
}
